.books-container {
  display: grid;
  gap: 1rem;
}

.books-container, .books__divisor {
  --margin-divisor: 2rem;
  margin-block-start: var(--margin-divisor);
}

.books__divisor {
  margin-block-end: var(--margin-divisor);
  border: 1px solid #e8e8e8;
}

.book, .book__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book {
  border: 1px solid #e8e8e8;
  background-color: white;
  padding: 1.5rem;
  --separation: 2.8rem;
}

.book__details {
  flex: 1;
  padding-right: var(--separation);
  border-right: 2px solid #e8e8e8;
}

.book__chapter {
  padding-inline: var(--separation);
}

.chapter__num {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.chapter__button {
  padding: 0.6rem 2rem;
  border-radius: 5px;
  background-color: #0290ff;
  text-align: center;
  color: #fff;
  border: none;
}

.book__category {
  color: #939293;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.book__title {
  color: #1c1b1c;
  line-height: 1.8rem;
}

.book__author {
  color: #93b3d0;
  margin-bottom: 1rem;
}

.book__buttons button {
  background: none;
  color: #4386bf;
  border: none;
  padding: 0.2rem 1rem;
}

.book__buttons button:not(:last-child) {
  border-right: 2px solid #e8e8e8;
}

.book__buttons button:first-child {
  padding-left: 0;
}

.book__progress {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.oval {
  position: relative;
  --dimensions: 4.25rem;
  width: var(--dimensions);
  height: var(--dimensions);
}

.book__oval {
  width: var(--dimensions);
  height: var(--dimensions);
  transform-origin: center;
  transform: rotate(270deg);
  position: absolute;
  inset: 0;
}

.book__oval--background circle {
  fill: none;
  stroke: #dcdbdc;
  stroke-width: 2;
  stroke-dasharray: 200, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}
.book__oval--progress circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

.book__percentage {
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 400;
}